body {
    background-color: ivory;
    color: tan;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: ivory;
    color: tan;
    font-family: Arial;
    margin: 10px 20px 56.5px;
}

footer {
    background-color: beige;
    color: tan;
    font-family: Arial;
    margin: 0px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    background-color: beige;
    color: tan;
    font-family: Arial;
    margin: 0px;
}

a {
    color: indianred;
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    color: tan;
    text-decoration: underline;
}

a:visited {
    color: tan;
}
a:hover {
    color: red;
    text-decoration: underline;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 7px solid #f4a46080;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: #ffffff30;
    box-shadow: 0 0 15px #00000030;
}

h1.titlez {
    text-align: center;
}