body {
    background-color: ivory;
    color: tan;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: ivory;
    color: tan;
    font-family: Arial;
    margin: 0px;
}

footer {
    background-color: beige;
    color: tan;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: beige;
    color: tan;
    font-family: Arial;
    margin: 0px;
}