body {
    background-color: ivory;
    color: tan;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: ivory;
    color: tan;
    font-family: Arial;
    margin: 0px;
}

footer {
    background-color: beige;
    color: tan;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: beige;
    color: tan;
    font-family: Arial;
    margin: 0px;
}

a {
    color: indianred;
    text-decoration: none;
}

a:link {
    color: tan;
    text-decoration: underline;
}

a:visited {
    color: tan;
}
a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: black;
    opacity: 0.3;
}